.btn{
	padding:0.75rem 2rem 1rem;
	border-radius: 2rem;
	font-weight:700;
	transition:0.2s;
	margin-right:0.5rem;
	margin-top:0.5rem;

}

.btn-primary{
	background:$red;
	border:0;
	&:hover{
		background:lighten($red,10%);
		transform:translateY(-3px) scale(1.05);
	}
}

.btn-secondary{
	background:rgba($red,0.25);
	border:2px solid $red;
	transform:translateY(0px) scale(0.975);
	&:hover{
		background:rgba($red,0.5);
		border:2px solid $red;
		transform:translateY(-3px) scale(1.025);
	}
}
