body {
  font-family: Rawline;
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;

    section.my-works {
      .gallery {
        perspective: none;
      }
    }
  }

  .wp-block-embed-youtube {
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0.3em;
  }
}

p {
  opacity: 0.85;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;

  &.ingress {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.66;
  }
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba($dark-blue,0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lighten($dark-blue,10%);
  border: 1px solid lighten($dark-blue,30%);
}

section {
  padding: 15rem 0;
  background-repeat: no-repeat!important;
  background-size: 100% auto;

  &#contact {
    background: darken($dark-blue,2%);
  }

  &.hero {
    background-image: url("../images/header-bg-hq.jpg");
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: top right;
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute!important;
      width: 100%;
      height: 100vh;
    }

    .parallax {
      background: url("../images/parallax1.png");
      background-size: cover;
      background-position: center;
      width: 60vh;
      height: 60vh;
      position: absolute;

      &.parallax-1 {
        left: 5rem;
        margin-left: -10%;
        margin-top: -20%;
      }

      &.parallax-2 {
        background-image: url("../images/parallax2.png");
        width: 70vh;
        height: 70vh;
        bottom: -5rem;
        right: -5rem;
        margin-left: 60%;
        margin-top: 30%;
      }
    }

    .hero-title {
      color: #fff;
      font-size: 2em;
      z-index: 2;
      position: relative;

      p {
        font-weight: 300;
        font-size: 1.5rem;
        z-index: 2;
        position: relative;
      }
    }
  }

  &.inverted {
    color: #fff;
    background-color: $dark-blue;
  }
}

.social-media {
  a {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    color: #fff;
    transition: 0.2s;
    margin-bottom: 1rem;

    &:hover {
      text-decoration: none;
      transform: scale(1.025);

      .text {
        opacity: 1;
      }
    }



    .text {
      margin-top: 0.25rem;
      position: relative;
      display: inline-block;
      opacity: 0.75;
      transition: 0.2s;
    }
  }
}

.icon {
  background-size: contain;
  height: 2rem;
  display: block;
  width: 2rem;
  margin-right: 0.5rem;

  &.insta {
    background-image: url("../images/instagram.png");
  }

  &.mail {
    background-image: url("../images/email.png");
  }

  &.linkedin {
    background-image: url("../images/linkedin.png");
  }
}

.two-lined {
  span {
    font-size: 2em;
    font-weight: 500;
    color: $red;
  }
}

.container-fluid {
  max-width: 1580px;
  padding: 0 100px;
}

.navbar {
  display: block;
  background: linear-gradient(to bottom, $dark-blue 0%,rgba($dark-blue,0) 100%);
  transform-style: preserve-3d;
  transition: 0.4s;
  height: auto;
  padding:0;

  .navbar-collapse {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.8s;

    .navbar-nav {
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
  }

  .container-fluid {
    max-width: none;
  }

  a {
    color: #fff;
  }

  .nav-item {
    a {
      font-weight: 400;
      font-size: 1.05rem;
      letter-spacing: 1px;
      padding: 1em 2em !important;
      display: inline-block;
      color: rgba(255, 255, 255, 0.75);
      transition: 0.2s;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        border-bottom: 2px solid $red;
        left: 2em;
        right: 2em;
        bottom: 0;
        border-radius: 100%;
        transition: 0.4s;
        opacity: 0;
      }
    }

    a.active {
      position: relative;
      color: rgba(255, 255, 255, 1);

      &:after {
        opacity: 1;
        border-bottom: 2px solid $red;
      }
    }
  }

  .navbar-brand {
    margin-left: 30px;

    img {
      max-height: 6rem;
      margin-top: 1.5rem;
    }
  }
}

section.about-me {
  background-image: url("../images/dark-bg.jpg");
  background-size: cover;
  background-position: center top;
  border-top: 2px solid lighten($dark-blue, 10%);
  padding-top: 15rem;
  padding-bottom: 5rem;
  .about-me-text{
      margin-bottom:5rem;
  }


  .my-picture {
    margin-top: -15rem;
  }
}

.instagram {
  max-width: none;
  .icon{
      display:inline-block;
      margin-right:0.5rem;
      position:relative;
      top:0.5rem;
      height:2.5rem;
      width:2.5rem;
  }
  h3{
      margin-bottom:1rem;
  }

  .sbi_photo_wrap {
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s;
    transform: scale(0.95);

    &:hover {
      transform: scale(1.05);
    }
  }
}

.skill-cards {
  perspective: 1200px;
  margin: 2rem auto;
  top: -23rem;
  margin-bottom: -10rem;
  position: relative;

  > div {
    &:hover .skill-card {
      transform: rotateX(180deg);
    }
  }

  .skill-card {
    min-height: 32rem;
    position: relative;
    transition: 0.3s;
    transform-style: preserve-3d;
    margin-bottom: 1rem;

    > div {
      border-radius: 1rem;
      padding: 2rem;
      backface-visibility: hidden;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      transform-style: preserve-3d;
    }

    .block {
      margin: 1rem 0;
    }

    .front {
      text-align: center;
      background: lighten($dark-blue,2%);
      position: absolute;
      border: 1px solid lighten($dark-blue,10%);

      .icon {
        padding: 6.5rem;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 2rem auto;
      }

      .bottom {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        left: 0;
        padding: 0 2rem;

        h2 {
          font-size: 3rem;
        }
      }
    }

    .back {
      transform: rotateX(180deg);
      background: $red;

      &::-webkit-scrollbar {
        width: 12px;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.25rem;
        margin: 1rem 0;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

.chip {
  background: rgba($dark-blue,0.25);
  font-weight: 600;
  padding: 0.3em 1em 0.5em;
  display: inline-block;
  border-radius: 2em;
  font-size: 0.85rem;
  transition: 0.2s;
  margin: 0.4rem 0.25rem 0 0;
}

section.my-story {
  background-image: url("../images/red-bg-toppedf.jpg");
  background-size: cover;
  background-position: center top;

  .two-lined {
    span {
      color: $dark-blue;
    }
  }

  .timeline {
    margin: 6rem 0;
    perspective: 1400px;

    .event {
      left: 50%;
      width: 50%;
      position: relative;
      padding-bottom: 5rem;
      transform: scale(0.25) rotateY(90deg);
      opacity: 0;
      transition: 0.6s;

      &.visible {
        transform: scale(1) translate3d(0,0,0) rotateY(0);
        opacity: 1;
      }

      &:after {
        content: "";
        background: rgba($dark-blue,0.2);
        width: 0.5rem;
        height: 100%;
        position: absolute;
        top: 5rem;
        left: -0.25rem;
      }

      .year {
        height: 5rem;
        width: 5rem;
        margin-left: -2.5rem;
        background: $dark-blue;
        border: lighten($dark-blue,15%) 2px solid;
        border-radius: 0.5rem;
        color: #fff;
        font-weight: 700;
        text-align: center;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        position: absolute;
      }

      .desc {
        position: relative;
        margin-left: 7rem;

        h2 {
          font-size: 1.8rem;
        }
      }

      &:nth-child(2n) {
        left: 0;
        right: 50%;

        &:after {
          left: auto;
          right: -0.25rem;
        }

        .year {
          right: 0;
          margin-right: -2.5rem;
          background: $red;
          border: darken($red,5%) 2px solid;
        }

        .desc {
          text-align: right;
          margin-right: 7rem;
          margin-left: 0;
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

section.my-works {
  background-image: url("../images/dark-bg-topped-red.jpg");
  background-position: center top;
  //perspective:1400px;
  .gallery {
    margin: 6rem auto;
    width: 90%;
    //transform:rotateY(-0deg);
    perspective: 1400px;

    .hidden {
      max-width: 0;
      padding: 0;
      margin: 0;

      > div {
        max-width: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        transform: scale(0.5) rotateY(90deg);
      }
    }

    > div {
      &.expanded {
        width: 100%;
        height: 100%;
        display: block;
        max-width: 100%;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 5;
        left: 0!important;
        top: 0!important;
        bottom: 0!important;
        position: fixed!important;
        right: 0!important;
        background: $dark-blue;
        padding: 0;
        transition: 0.5s;

        .project {
          max-width: 100%;
          margin: 0 auto;

          &:hover {
            transform: scale(1);
            border: 0;
          }

          .parallax-cont {
            min-height: 65vh;
            width: 100%;
            overflow: hidden;

            .parallax {
              min-width: 120%;
              min-height: 120%;
              margin-left: -10%;
              margin-top: -10%;
              opacity: 0.33;
            }
          }
          cursor: auto;
        }

        .excerp {
          display: none;
        }

        .extended {
          display: flex;
          margin: 0;

          .bg {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
          }

          .intro {
            position: absolute;
            height: 100%;
            margin: auto;
            z-index: 10;
            text-align: center;
            display: flex!important;
            align-items: center;
            justify-content: center;
            pointer-events: auto;
            padding: 10rem 0;

            .pre {
              font-weight: 700;
              color: $red;
              font-size: 2rem;
            }

            .ingress {
              p {
                font-size: 1.4rem;
              }
            }

            .tags {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                display: inline-block;
                padding: 0.5rem 0.75rem 0.6rem;
                background: rgba(255,255,255,0.1);
                color: #fff;
                border-radius: 1.5rem;
                margin-right: 0.4rem;
                margin-bottom: 0.5rem;
                font-size: 0.9rem;
                transition: 0.2s;

                &:hover {
                  background: rgba(255,255,255,0.2);
                }
              }
            }
          }

          &:hover {
            transform: scale(1);
          }

          .maincont {
            padding: 5rem;
            background: #fff;
            border-radius: 15px;
            width: 100%;
            margin: 0 auto;
            top: -5rem;
            color: #000;
            position: relative;

            .inner {
              margin: 0 auto;

              h1,
              h2,
              h3 {
                margin-bottom: 1rem;
                margin-top: 4rem;
              }

              h1,
              h2,
              h3,
              h4,
              p {
                max-width: calc(650px + 10%);
                margin-left: auto;
                margin-right: auto;
              }

              h2 {
                font-size: 2.8rem;
              }

              h3 {
                font-size: 2.2rem;
              }

              p {
                font-size: 1.2rem;
                line-height: 1.6;
                margin-bottom: 1.5rem;
              }

              figure {
                margin: 2rem auto;
                max-width: 1400px;

                .wp-block-embed__wrapper {
                  padding-bottom: 57%;

                  iframe {
                    width: 100%;
                  }
                }

                * {
                  margin: 0 auto;
                  display: block;
                }
              }

              .wp-block-image img {
                border-radius: 15px;
              }
            }
          }

          .right-side {
            position: relative;

            .additional {
              .links-more {
                .project-links {
                  list-style: none;
                  margin: 0;
                  padding: 0;

                  li {
                    margin-top: 1rem;

                    a {
                      display: block;
                      color: #fff;
                      font-weight: 700;

                      img {
                        max-height: 2rem;
                        border-radius: 5px;
                        margin-right: 0.5rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .project {
      margin-bottom: 1rem;
      background: lighten($dark-blue, 2%);
      border-radius: 0.5rem;
      border: 1px solid lighten($dark-blue,5%);
      overflow: hidden;
      transition: 0.3s;
      opacity: 1;
      transform: scale(1) rotateY(0deg);
      max-height: 10000px;
      max-width: 10000px;

      &:hover {
        .excerp img {
          transform: scale(1.1);
        }
      }
      z-index: 5;
      cursor: pointer;

      .excerp {
        img {
          width: 100%;
          height: auto;
          transition: 1.2s;
        }

        .open {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      .head-img {
        min-height: 50rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .extended {
        display: none;
      }

      .desc {
        padding: 2rem;
        position: absolute;
        bottom: 0;
        transition: 0.4s;
        width: 100%;
        background: linear-gradient(to top, #100e1a 0%, rgba(16, 14, 26, 0) 100%);

        h2 {
          font-size: 1.8rem;
          transition: 0.2s;
        }

        .extra-content {
          overflow: hidden;
          max-height: 0;
          transition: 0.4s;

          p {
            font-size: 0.9rem;
            transition: 0.2s;
          }

          .btn {
            font-size: 0.9rem;
            padding: 0.5em 1em 0.75em;
            margin-top: 0;
          }
        }
      }

      &:hover {
        transform: scale(1.05);
        border: 5px solid white;
        border-width: 2px 8px 2px 8px;

        img.thumb {
          opacity: 0.33;
        }

        .desc {
          .extra-content {
            max-height: 100rem;
          }
        }
      }
    }
  }
}

.filters {
  float: right;
  padding-bottom: 2rem;

  .chip {
    cursor: pointer;
    background: lighten($dark-blue,15%);

    &.active {
      background: $red;
    }

    &:hover {
      background: lighten($dark-blue,25%);
    }
  }
}

.grecaptcha-badge {
  display: none;
}

.nf-form-cont {
  .nf-form-fields-required {
    display: none;
  }

  input.btn {
    background: $red;
    border-radius: 2rem;
    color: #fff;
    padding: 1rem 5rem 1.25rem;

    &:hover {
      border-bottom: 0;
      background: lighten($red,10%);
    }
  }

  .nf-field-container {
    margin-bottom: 1rem;
  }

  .nf-field-label {
    label {
      display: none;
    }
  }

  input,
  textarea {
    background: rgba(255,255,255,0.0);
    border: 0;
    border-bottom: 2px solid rgba(255,255,255,0.05);
    font-size: 1.1rem;
    padding: 1rem 0;
    color: rgba(255,255,255,0.75);
  }

  .nf-error-msg,
  .ninja-forms-req-symbol {
    color: rgba($red,1);
    font-weight: 600;
  }

  .nf-error .ninja-forms-field {
    border: 1px solid rgba($red,0.5);
  }
}

::placeholder {
  color: rgba(255,255,255,0.5);
  font-weight: 400;
}
@include media-breakpoint-down(lg) {
  .container-fluid {
    padding: 0 2rem;
  }
}
@include media-breakpoint-down(sm) {
  body {
    .container-fluid {
      padding: 0 1rem;
    }

    section.hero {
      background-position: 70%;
      min-height: 0;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($dark-blue,0.25);
      }
    }

    section.my-works .gallery > div.expanded .extended .maincont {
      padding: 2rem;

      h1,
      h2,
      h3,
      h4,
      p {
        margin: 1rem;
      }
    }

    .navbar {
      height: auto;

      .navbar-brand,
      .navbar-toggler {
        z-index: 100;
      }

      .nav-item a {
        font-size: 1.6rem;
      }

      .navbar-collapse {
        align-content: center;
        background: rgba($dark-blue,0.75);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .container-fluid {
          display: flex;
          align-content: center;
          height: 100vh;

          .navbar-nav {
            width: 100%;
            align-content: center;
            align-items: center;
            justify-content: center;
          }
        }

        &.show {}
      }
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
    }

    section.my-story .timeline {
      .event {
        left: auto;
        width: 100%;
      }
    }
  }

  section.my-works .gallery {
    max-width: 100%;
  }

  section.my-story {
    .timeline {
      .event {
        text-align: center!important;

        &:after {
          display: none;
        }

        .year {
          position: relative;
          margin: 0 auto 1rem auto !important;
        }

        .desc {
          margin: 0!important;
          text-align: center!important;
        }
      }
    }
  }
}

.overlay {
  display: none;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  &.visible {
    display: block;
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
// Change to watch in slow motion
$duration: 0.5s;
$size: 100%;
$toggled-size: 0.75;
$bg: #274380;
$nav-bg: #000;
$content-bg: #FFF;

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  z-index: 10;

  .navicon:after,
  .navicon:before {
    transition: $duration/2;
  }

  &:hover {
    transition: $duration;
    opacity: 1;

    .navicon:after,
    .navicon:before {
      transition: $duration/2;
    }

    .navicon:before {
      top: 0.825rem;
    }

    .navicon:after {
      top: -.825rem;
    }
  }
}

.navicon {
  position: relative;
  width: 2.5em;
  height: 0.3125rem;
  background: $content-bg;
  transition: $duration;
  border-radius: 2.5rem;

  &:after,
  &:before {
    display: block;
    content: "";
    height: 0.3125rem;
    width: 2.5rem;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    border-radius: 1rem;
  }

  &:before {
    top: 0.625rem;
  }

  &:after {
    top: -.625rem;
  }
}

.open:not(.steps) .navicon:after,
.open:not(.steps) .navicon:before {
  top: 0 !important;
}

.open .navicon:after,
.open .navicon:before {
  transition: $duration;
}
/* Minus */
.open {
  transform: scale($toggled-size);
}
/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
  &:after,
  &:before {
    width: 1.5rem;
  }

  &:before {
    transform: rotate(35deg);
    transform-origin: left top;
  }

  &:after {
    transform: rotate(-35deg);
    transform-origin: left bottom;
  }
}

.open.uarr {
  transform: scale($toggled-size) rotate(90deg);
}
/* Arrows */
.open.rarr .navicon {
  &:before {
    transform: translate3d(1em,0,0) rotate(-35deg);
    transform-origin: right top;
  }

  &:after {
    transform: translate3d(1em,0,0) rotate(35deg);
    transform-origin: right bottom;
  }
}
/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.open.plus {
  transform: scale($toggled-size) rotate(45deg);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background: $nav-bg;
  text-align: right;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 1rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.project-overlay {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
  left: 0!important;
  top: 0!important;
  bottom: 0!important;
  position: fixed!important;
  right: 0!important;
  background: $dark-blue;
  padding: 0;
  transition: 0.2s;
  transform: scale(0);
  opacity: 0;

  &.active {
    transform: scale(1);
    opacity: 1;
    &.loaded{
        overflow-y:scroll;
        .loader{
            opacity:0;
            transform:rotateX(180deg);

        }
    }
  }
  .loader{
      position:absolute;
      width:100%;
      height:100%;
      display:flex;
      background:rgba($dark-blue,1);
      z-index:10;
      align-items: center;
      justify-content: center;
      transition:0.4s;
      backface-visibility: hidden;
      .lds-heart{

      }
  }

  .parallax-cont {
    min-height: 65vh;
    width: 100%;
    overflow: hidden;

    .parallax {
      min-width: 120%;
      min-height: 120%;
      margin-left: -10%;
      margin-top: -10%;
      opacity: 0.33;
    }
  }

  .excerp {
    display: none;
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .intro {
    position: absolute;
    height: 100%;
    margin: auto;
    z-index: 10;
    text-align: center;
    display: flex!important;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    padding: 10rem 0;

    .pre {
      font-weight: 700;
      color: $red;
      font-size: 2rem;
    }

    h1 {
      color: #fff;
    }

    .ingress {
      p {
        font-size: 1.4rem;
      }
    }

    .tags {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 0.5rem 0.75rem 0.6rem;
        background: rgba(255,255,255,0.1);
        color: #fff;
        border-radius: 1.5rem;
        margin-right: 0.4rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        transition: 0.2s;

        &:hover {
          background: rgba(255,255,255,0.2);
        }
      }
    }
  }

  .maincont {
    padding: 5rem;
    background: #fff;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    top: -5rem;
    color: #000;
    position: relative;

    .inner {
      margin: 0 auto;

      h1,
      h2,
      h3 {
        margin-bottom: 1rem;
        margin-top: 4rem;
      }

      h1,
      h2,
      h3,
      h4,
      p {
        max-width: calc(650px + 10%);
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        font-size: 2.8rem;
      }

      h3 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
      }

      figure {
        margin: 2rem auto;
        max-width: 1400px;

        .wp-block-embed__wrapper {
          padding-bottom: 57%;

          iframe {
            width: 100%;
          }
        }

        * {
          margin: 0 auto;
          display: block;
        }
      }

      .wp-block-image img {
        border-radius: 15px;
      }
    }
  }
}

.back-projects {
  position: absolute;
  top: 0.25rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &:before {
    content: "🡠";
    position: absolute;
    left: -2rem;
  }
}

.no-scroll .navbar .navbar-collapse {
  transform: rotateX(180deg);
}


// loading spinner
.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg) scale(2);
  transform-origin: 32px 32px;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: $red;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: $red;
}

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}
